ul#css2menu,ul#css2menu ul{
	margin:0;
	list-style:none;
	background-color:#C0C0C0;
	background-image:url("../images/menubk.png");
	background-repeat:repeat;
	border-width:0px;
	border-style:solid;
	border-color:#999999;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	}
ul#css2menu ul{
	display:none;
	position:absolute;
	left:98%;
	top:-1px;
	-moz-box-shadow:0.7px 1px 1px #777777;
	-webkit-box-shadow:0.7px 1px 1px #777777;
	box-shadow:0.7px 1px 1px #777777;
	padding:0 9px 9px;
	background-color:#FFF;
	background-image:none;
	border-width:1px;
	border-style:solid;
	border-color:#d8d9da;
	}
ul#css2menu li:hover>*{
	display:block;
	}
ul#css2menu li:hover{
	position:relative;}
ul#css2menu ul ul{
	position:absolute;
	left:98%;
	top:-2px;
	}
ul#css2menu{
	padding:0 1px 1px;
	display:block;
	font-size:0;
	float:left;
	}
ul#css2menu li{
	display:block;
	white-space:nowrap;
	font-size:0;
	}
ul#css2menu>li,ul#css2menu li{
	margin:1px 0 0;}
ul#css2menu a:active, ul#css2menu a:focus{
	outline-style:none;}
ul#css2menu a{
	display:block;
	vertical-align:middle;
	text-align:left;
	text-decoration:none;
	font:bold 12px Arial,sans-serif;
	color:#000000;
	cursor:default;
	padding:10px;
	background-color:#efefef;
	background-image:url("../images/menubk.png");
	background-position:0 72px;
	border-width:0px;
	border-style:none;
	border-color:#6655FF;
	}
ul#css2menu ul li{
	float:none;
	margin:9px 0 0;
	}
ul#css2menu ul a{
	text-align:left;
	padding:8px 0 0 0;
	background-color:#FFF;
	background-image:none;
	border-width:1px 0 0 0;
	border-style:solid;
	border-color:#D9D9D9;
	font:13px Arial,sans-serif;
	color:#333333;
	text-decoration:none;
	}
ul#css2menu li:hover>a{
	background-color:#1D92CB;
	border-color:#665500;
	border-style:none;
	font:bold 12px Arial,sans-serif;
	color:#efefef;
	text-decoration:none;
	background-image:url("../images/menubk.png");
	background-position:0 100%;
	}
ul#css2menu img{
	border:none;
	vertical-align:middle;
	margin-right:20px;
	width:24px;
	height:24px;
	}
ul#css2menu ul img{
	width:6px;height:12px;
	}
ul#css2menu img.over{
	display:none;
	}
ul#css2menu li:hover > a img.def{
	display:none;
	}
ul#css2menu li:hover > a img.over{
	display:inline;
	}
ul#css2menu span{
	display:block;
	overflow:visible;
	background-position:right center;
	background-repeat:no-repeat;
	padding-right:0px;
	}
ul#css2menu ul span{
	background-image:url("../images/arrow.gif");
	padding-right:27px;
	}
ul#css2menu ul li:hover>a{
	background-color:#FFF;
	background-image:none;
	border-style:solid;
	border-color:#D9D9D9;
	font:13px Arial,sans-serif;
	color:#1D92CB;
	text-decoration:none;
	}
ul#css2menu li.topfirst>a{
	height:16px;
	border-radius:4px 4px 0 0;
	-moz-border-radius:4px 4px 0 0;
	-webkit-border-radius:4px 4px 0 0;
	text-shadow:#d8d8d8 0px 1px 1px;
	}
ul#css2menu li.topfirst:hover>a{
	text-shadow:#3d3d3d 0px -1px 1px;
	}
ul#css2menu._>li>a{
	padding:0;
	}
ul#css2menu li.subfirst>a{
	background-color:#FFF;
	background-image:none;
	border-width:0;
	border-style:none;
	padding:0;
	font:13px Arial,sans-serif;
	color:#333333;
	text-decoration:none;
	}
ul#css2menu li.subfirst:hover>a{
	background-color:#FFF;
	background-image:none;
	border-style:none;
	font:13px Arial,sans-serif;
	color:#1D92CB;
	text-decoration:none;
	}
ul#css2menu li.topitem>a{
	height:16px;
	text-shadow:#d8d8d8 0px 1px 1px;
	}
ul#css2menu li.topitem:hover>a{
	text-shadow:#3d3d3d 0px -1px 1px;
	}
ul#css2menu li.toplast>a{
	height:16px;
	border-radius:0 0 4px 4px;
	-moz-border-radius:0 0 4px 4px;
	-webkit-border-radius:0 0 4px 4px;
	text-shadow:#d8d8d8 0px 1px 1px;
	}
ul#css2menu li.toplast:hover>a{
	text-shadow:#3d3d3d 0px -1px 1px;}
