body {
	font-family:Georgia, serif;
	font-size:11px;	
	background-color:#FFF;
}

/*--------------------------------------	*/
/*	TITULO	*/
.titulo {
	font-family:Georgia, serif;
	font-size:16px;
	font-style:italic;
	font-weight:bold;
}

.cerrar {
	font-family:Georgia, serif;
	font-size:10px;
	font-weight:bold;
	text-decoration:none;
	color:black;
}
/*--------------------------------------	*/

/*--------------------------------------	*/
/*	 LISTA MAESTROS	*/
.tblBotones {
	font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:bold;
	background-color:#BBBBBB;
	margin-left: auto;
	margin-right: auto;
}

.tblLista {
	border:solid 1px #BBBBBB;
	margin-left:auto;
	margin-right:auto;
}

.trListaHead {
	font-family:"Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:bold;
	color:#EFEFEF;
	background-color:#000066;
}
.trListaHeadRpEjecucion {
	font-family:"Lucida", Verdana, Arial, Helvetica, sans-serif;
	font-size:7px;
	font-weight:bold;
	color:#EFEFEF;
	background-color:#000066;
}
.trListaBody {
	background-color:#E9E9E9;
	font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	height:20px;
}
.trListaBodyRpEjecucion {
	background-color:#E9E9E9;
	font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	font-size:7px;
	height:20px;
}
.trListaBodySel {
	font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:bold;
	background-color:#228DD0;
	height:20px;
}

.trListaBody:hover {
	background-color:#F5F5DB;
	cursor:pointer;
}

.trListaBodySel:hover {
	background-color:#228DD0;
}

.trListaBody2 {
	font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	background-color:#C7C7C7;
}

.trListaBody3 {
	font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	background-color:#C7C7C7;
}
.trListaBody4{
	font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	background-color:#0000FF;
}
.trListaBody5{
font-family:"Lucida", Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
font-weight:bold;
background-color:#CCCCCC;
}
.trListaBody5RpEjecucion{
font-family:Arial,cursive;
font-size:7px;
font-weight:bold;
background-color:#CCCCCC;
}
.trListaBody6{
font-family:"Lucida", Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
font-weight:bold;
background-color:#999999;
}
.trListaBody6RpEjecucion{
font-family:"Lucida", Verdana, Arial, Helvetica, sans-serif;
font-size:7px;
font-weight:bold;
background-color:#999999;
}
.inputP{
size:auto;
background-color:#999999;
color:#000000;
font-family:"Lucida", Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
font-weight:bold;
}
.inputG{
size:auto;
background-color:#CCCCCC;
color:#000000;
font-family:"Lucida", Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
font-weight:bold;
}
.inputT{
size:auto;
background-color:#CCCCCC;
color:#000000;
font-family:"Lucida", Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
font-weight:bold;
}
.trListaBody7{

font-family:"Lucida", Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
font-weight:bold;
}
.btLista {
	width:70px;
	cursor:pointer;
}

.tdLista {
	font-family:"Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:bold;
	color:#EFEFEF;
	text-align:right;
	background-color:#000066;
}

.tblListaBig {
	background-color:#E9E9E9;
	font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	border-bottom:thin;
	border-bottom-color:#000000;
}
/*--------------------------------------	*/

/*--------------------------------------	*/
/*	 FORMULARIOS	*/
input {
	font-family: Arial, "Times New Roman", Times, serif;
	font-size: 10px;
}

textarea {
	font-family: Arial, "Times New Roman", Times, serif;
	font-size: 10px;
}

select {
	font-family: Arial, "Times New Roman", Times, serif;
	font-size: 10px;
}

.selectSma {
	width:130px;
}

.selectMed {
	width:175px;
}

.selectBig {
	width:420px;
}

.divFormCaption {
	font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#333333;
	background-color:#999999;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.tblForm {
	font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	background-color:#EFEFEF;	
	border: solid 1px #BBBBBB;
	margin-left: auto;
	margin-right: auto;
}

.tagForm {
	height:20px;
	/*width:135px;*/
	text-align: right;
}

.cellText {
	background:#BBBBBB;
	font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	border:none;
}
/*--------------------------------------	*/

/*--------------------------------------	*/
.divMsj {
	font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#FF0000;
	margin-left: auto;
	margin-right: auto;
	text-align: right;
}

.divDivision {
	font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-color:#DACB99;
}

.frameTab {
	border:solid 1px #BBBBBB;
	background-color:#AAAAAA;
}

.tblFiltro {
	font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:bold;
	background-color:#BBBBBB;
	margin-left:auto;
	margin-right:auto;
}

.divBorder {
	border:solid 1px #000000;
	margin-left:auto;
	margin-right:auto;
}

.tblMenu{
	background-color:#555555;	
}

.btMenu {
	width:175px;
	height:20px;
}

.grillaTable {
	font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	/*border:solid 1px #000000;*/
}

.grillaTr {
	background-color:#E9E9E9;
}

.grillaTd {
	border-left:solid 1px #000000;
	border-bottom:solid 1px #000000;
	border-top:solid 1px #000000;
	border-right:solid 1px #000000;
	vertical-align:middle;
	height:20px;
}

/*--------------------------------------	*/