@charset "utf-8";
/* CSS Document */

.trListaColor{
  background : #000080; font-size: 10px;
  font-color : #FFFFFF; font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
  text-align : center;
}
